# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
print()
df.columns = map(str.lower, df.columns)
df.columns = [c.replace(" ", "_") for c in list(df.columns)]
df.rename(columns={'st':'state'}, inplace=True)
df

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
#array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)
print(df.gender.unique())
replace_gender = {
    "Femal": "F",
    "female": "F",
    "Male": "M"
}
        
df['gender'] = df["gender"].replace(replace_gender)

print()
print(df.state.unique())
replace_state = {
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington"
}
df['state'] = df["state"].replace(replace_state)

df["education"] = df["education"].replace("Bachelors","Bachelor")

df["customer_lifetime_value"] = df["customer_lifetime_value"].str.rstrip("%")

replace_car = {
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
}
        
df['vehicle_class'] = df["vehicle_class"].replace(replace_car)

df

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"])
print (df.customer_lifetime_value)
print()

print(df['number_of_open_complaints'].unique())

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: x.split('/')[1] if isinstance(x, str) else x)
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'])
df

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
#no columns with no values:
print(df.isna().any())
print("---")

print(df.isnull().sum(axis=1))
print("---")


df2 = df.dropna()
# df2
# df2.iloc[1189:1199]
# I removed the strings full of NaN values since they miss the info in every column. Checking if data type is correct:
df = df2
print(df.info())

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
print(df)
df.duplicated(keep=False)
#there is not duplicated rows identified
df.reset_index()

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [1]:
import pandas as pd

def load_data(url):
    df = pd.read_csv(url)
    return df

def clean_column_names(df):
    df.columns = map(str.lower, df.columns)
    df.columns = [c.replace(" ", "_") for c in list(df.columns)]
    return df

def rename_column(df, old_name, new_name):
    df.rename(columns={old_name: new_name}, inplace=True)
    return df

def clean_gender(df):
    replace_gender = {
        "Femal": "F",
        "female": "F",
        "Male": "M"
    }
    df['gender'] = df["gender"].replace(replace_gender)
    return df

def clean_state(df):
    replace_state = {
        "AZ": "Arizona",
        "Cali": "California",
        "WA": "Washington"
    }
    df['state'] = df["state"].replace(replace_state)
    return df

def clean_education(df):
    df["education"] = df["education"].replace("Bachelors", "Bachelor")
    return df

def clean_vehicle_class(df):
    replace_car = {
        "Sports Car": "Luxury",
        "Luxury SUV": "Luxury",
        "Luxury Car": "Luxury"
    }
    df['vehicle_class'] = df["vehicle_class"].replace(replace_car)
    return df

def clean_customer_lifetime_value(df):
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.rstrip("%")
    df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"])
    return df

def clean_number_of_open_complaints(df):
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: x.split('/')[1] if isinstance(x, str) else x)
    df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'])
    return df

def check_missing_values(df):
    print(df.isna().any())
    print(df.isnull().sum(axis=1))
    return df

def drop_missing_values(df):
    df = df.dropna()
    return df

def check_data_info(df):
    print(df.info())
    return df

def main():
    url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
    df = load_data(url)
    
    df = clean_column_names(df)
    df = rename_column(df, 'st', 'state')
    df = clean_gender(df)
    df = clean_state(df)
    df = clean_education(df)
    df = clean_vehicle_class(df)
    df = clean_customer_lifetime_value(df)
    df = clean_number_of_open_complaints(df)
    df = check_missing_values(df)
    df = drop_missing_values(df)
    df = check_data_info(df)

    return df

if __name__ == "__main__":
    df = main()
    print(df)
    df.duplicated(keep=False)
    df.reset_index()

customer                     True
state                        True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool
0        2
1        0
2        0
3        0
4        0
        ..
4003    11
4004    11
4005    11
4006    11
4007    11
Length: 4008, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 952 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   952 non-null    object
 1   state                      952 non-null    object
 2   gender                     952 non-null    object
 3   education                  952 non-null    object
 4   customer_lifetime_value    952 non-null    float64
 5   income                     952 non-null    float64
 6   monthly_premium_auto       952 non-null    float64
 7   number_of_open_complaints  952 non-null    float64
 8   policy_type                952 non-null    object
 9   vehicle_class              952 non-null    object
 10  total_claim_amount         952 non-null    float64
dtypes: float64(5), object(6)
memory usage: 89.2+ KB
None
     customer       state gender             education  \
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
5     OC83172      Oregon      F              Bachelor
...       ...         ...    ...                   ...
1066  TM65736      Oregon      M                Master
1067  VJ51327  California      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1069  CW49887  California      F                Master
1070  MY31220  California      F               College

      customer_lifetime_value   income  monthly_premium_auto  \
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
5                   825629.78  62902.0                  69.0
...                       ...      ...                   ...
1066                305955.03  38644.0                  78.0
1067               2031499.76  63209.0                 102.0
1068                323912.47  16061.0                  88.0
1069                462680.11  79487.0                 114.0
1070                899704.02  54230.0                 112.0

      number_of_open_complaints     policy_type  vehicle_class  \
1                           0.0   Personal Auto  Four-Door Car
2                           0.0   Personal Auto   Two-Door Car
3                           0.0  Corporate Auto            SUV
4                           0.0   Personal Auto  Four-Door Car
5                           0.0   Personal Auto   Two-Door Car
...                         ...             ...            ...
1066                        1.0   Personal Auto  Four-Door Car
1067                        2.0   Personal Auto            SUV
1068                        0.0   Personal Auto  Four-Door Car
1069                        0.0    Special Auto            SUV
1070                        0.0   Personal Auto   Two-Door Car

      total_claim_amount
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
5             159.383042
...                  ...
1066          361.455219
1067          207.320041
1068          633.600000
1069          547.200000
1070          537.600000

[952 rows x 11 columns]

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [3]:
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [11]:
p75_claim = df["total_claim_amount"].quantile(0.75)
print(p75_claim)

534.0

In [35]:
p25_claim = df["total_claim_amount"].quantile(0.25)
print(p25_claim)

196.72458675

In [45]:
cust_p75_claim = df[df["total_claim_amount"] > p75_claim].reset_index()
cust_p25_claim = df[df["total_claim_amount"] < p25_claim].reset_index()
cust_p75_claim.describe()

,index,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,238.000000,2.380000e+02,238.000000,238.000000,238.000000,238.000000
mean,590.025210,9.086840e+05,23993.138655,170.995798,0.407563,787.856928
std,273.485379,6.144211e+05,27470.789482,656.899208,0.949053,304.178729
min,1.000000,2.287597e+05,0.000000,63.000000,0.000000,537.600000
25%,383.500000,4.831950e+05,0.000000,99.000000,0.000000,607.183216
50%,565.500000,7.891276e+05,18807.000000,114.000000,0.000000,678.734433
75%,821.750000,1.061935e+06,45233.000000,135.000000,0.000000,848.613511
max,1070.000000,3.844586e+06,99316.000000,10202.000000,5.000000,2893.239678

In [47]:
cust_p25_claim.describe()

,index,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,238.000000,2.380000e+02,238.000000,238.000000,238.000000,238.000000
mean,583.390756,7.532534e+05,56419.878151,485.915966,0.378151,91.790540
std,278.313703,6.403075e+05,25324.836921,3320.037890,0.831770,52.486871
min,4.000000,2.365349e+05,0.000000,61.000000,0.000000,0.382107
25%,368.250000,2.989398e+05,37042.750000,66.000000,0.000000,49.953307
50%,604.500000,5.427211e+05,56205.500000,72.000000,0.000000,86.390802
75%,818.500000,8.583943e+05,76188.500000,97.750000,0.000000,136.819084
max,1065.000000,3.605754e+06,99790.000000,35354.000000,4.000000,193.570320

In [ ]:
#The mean of the 25th percentile is higher than the ones in 75th percentile